

<% if user_signed_in? %>
    <% if post.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <p><span>お気に入り: </span><%=link_to icon('fas', 'star'), users_post_favorites_path(post.id), method: :delete, remote: true %></p>
    <% else %>
        <p><span>お気に入り: </span><%=link_to icon('far', 'star'), users_post_favorites_path(post.id), method: :post, remote: true %></p>
    <% end %>
  <% else %>
    <p><span>お気に入り数: </span><%= post.favorites.count %></p>
  <% end %>