    <% if user.followed_by?(current_user) %>
        <p><%=link_to "フォロー済み", users_user_relationships_path(user_id: user.id), method: :delete, remote: :true, class:"btn btn-raised btn-info" %></p>
    <% else %>
        <p><%=link_to "フォローする", users_user_relationships_path(user_id: user.id), method: :post, remote: :true, class:"btn btn-outline-info" %></p>
    <% end %>
