/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";


.container{
  width:1170px;
  // padding:15px;
  margin:auto;
  height: 800px;
}

// body {
//   padding-top: 65px;
//   height: 100%;
// }

// header{
// 	height: 65px;
//   background-color: rgba(34, 49, 52, 0.9);
//   // position: fixed;
//   z-index: 10;
// }

// .logo {
//   width: 124px;
//   margin-top: 20px;
// }

// .header-left{
//   float: left;
// }

// .header-right{
//   float: right;
//   background-color: rgba(255, 255, 255, 0.3);
//   transition: all 0.5s;
// }

// .header-right :hover{
//   background-color: rgba(255, 255, 255, 0.5);
// }

// .header-right　li{
//   line-height: 65px;
//   padding: 0 25px;
//   color: white;
//   display: block;
// }

footer{
  height: 65px;
  position: absolute;
  bottom: 0;
}